---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Technologies from "../components/Technologies.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title={`Jan Sültemeyer | Software Engineer`}>
  <Header />
  <main class="bg-secondary">
    <Technologies />
    <About />
    <Projects />
  </main>
  <Footer />
</Layout>
