---

---

<section id="projects" class="py-20 overflow-hidden">
  <h2
    class="mx-auto px-4 md:px-6 text-4xl text-center uppercase text-accent font-black"
  >
    About Me
  </h2>
  <div class="container mx-auto pt-24 px-4 md:px-6 max-w-prose">
    <p class="text-xl mb-12 leading-relaxed font-serif">
      I am a freelance software engineer from <span class="font-bold"
        >Munich, Germany</span
      > with 10 years of professional experience. I'm always curious about <span
        class="font-bold">new opportunities</span
      >
      to work on interesting projects, either in the area or completely remote. If
      you have scrolled this far, reach me at
      <a href="mailto:jan@sultemeyer.com" class="font-bold underline"
        >jan@sultemeyer.com</a
      > and let's talk about our next project.
    </p>
  </div>
</section>
