---

---

<section id="projects" class="py-20 overflow-hidden">
  <h2
    class="mx-auto px-4 md:px-6 text-4xl text-center uppercase text-accent font-black"
  >
    About Me
  </h2>
  <div class="container mx-auto pt-24 px-4 md:px-6 max-w-prose">
    <p class="text-xl mb-12 leading-relaxed font-serif">
      I am a freelance software engineer from <span class="font-bold"
        >Munich, Germany</span
      > with 10 years of professional experience. After completing my studies in
      at the Technical University of Munich (TUM) with an <span
        class="font-bold"
        >honors degree in Computer Science
      </span> and various internships, I spent 3 years working in the IT department
      of <span class="font-bold">BMW</span>. Since 2022 I work as a freelance,
      full-stack software engineer. I'm always curious about <span
        class="font-bold">new opportunities</span
      >
      to work on interesting projects, either in the area or completely remote. Ready
      to discuss your next project? Reach me at
      <a href="mailto:jan@sultemeyer.com" class="font-bold underline"
        >jan@sultemeyer.com</a
      >
    </p>
  </div>
</section>
