---
import "../styles/global.css";
interface Props {
  title?: string;
}

const { title = "My Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Jan Sültemeyer, a freelance full-stack software engineer from Munich, Germany. Experience as a Python Developer and AWS Cloud Consultant. Building apps in React and Next.js with data stored in PostgreSQL."
    />
    <title>{title}</title>
  </head>
  <body class="text-primary">
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html {
    scroll-behavior: smooth;
  }
</style>
